<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <link rel="stylesheet" th:href="@{/css/tennisex.css}"/>
</head>

<body>

<!-- HEADER -->
<div th:replace="header :: header"></div>

<!-- IMAGE -->
<div class="hero-image">
    <div class="hero-text">
        <h1>Tennix Tennis Club</h1>
    </div>
</div>

<!-- CONTENT -->
<div class="content">

    <h1>Admin Panel</h1>

    <div>
        <a href="/admin/users">USER LIST</a>
    </div>

    <div>
        <a href="/register">REGISTER USER</a>
    </div>

    <div>
        <a href="/admin/new_court">NEW COURT</a>
    </div>

</div>

<!-- FOOTER -->
<div th:replace="footer :: footer"></div>

</body>
</html>