<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <link rel="stylesheet" th:href="@{/css/tennisex.css}"/>
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
</head>

<body>

<!-- IMAGE -->
<div class="hero-image">
    <div class="hero-text">
        <h1>Tennix Tennis Club</h1>
    </div>
</div>

<!-- HEADER -->
<div th:replace="header :: header"></div>



<!-- CONTENT -->
<div class="content">

    <h2 th:text="${admin.name}">Full Name</h2>

    <span>
        Username: <span th:text="${admin.username}">Username</span>
        <br/>
        E-mail: <span th:text="${admin.email}">Email</span>
        <br/>
    </span>
    <br/>

    <a class="action" href="/user/edit">EDIT DETAILS</a>

    <h3>Admin Panel</h3>

    <a class="action" href="/admin/users">USER LIST</a>
    <a class="action" href="/register">REGISTER USER</a>
    <br/><br/>
    <a class="action" href="/admin/new_court">NEW COURT</a>

</div>

<!-- FOOTER -->
<div th:replace="footer :: footer"></div>

</body>
</html>