<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Client</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <link rel="stylesheet" th:href="@{/css/tennisex.css}"/>
</head>

<body>

<!-- HEADER -->
<div th:replace="header :: header"></div>

<div align="center">

    <h1 th:text="${client.name}">Client Full Name</h1>

    <h2>My Bookings</h2>

    <table border="1" cellpadding="10">

        <thead>
        <tr>
            <th>ID</th>
            <th>DAY</th>
            <th>COURT</th>
            <th>HOUR</th>
            <th>ACTIONS</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="booking : ${bookings}">
            <td align="center" th:text="${booking.id}">ID</td>
            <td th:text="${booking.getDayName()}">Day</td>
            <td th:text="${booking.getCourtName()}">Court name</td>
            <td> <a th:text="${booking.hour}">0</a>:00-<a th:text="${booking.hour+1}">0</a>:00</td>
            <td>
                <a th:href="@{/bookings/{id}/cancel(id=${client.id})}">Cancel</a>
            </td>
        </tr>
        </tbody>

    </table>

</div>

</body>
</html>