<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Court</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <link rel="stylesheet" th:href="@{/css/tennisex.css}"/>
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
</head>

<body>

<!-- IMAGE -->
<div class="hero-image">
    <div class="hero-text">
        <h1>Tennix Tennis Club</h1>
    </div>
</div>

<!-- HEADER -->
<div th:replace="header :: header"></div>

<!-- CONTENT -->
<div class="content">

    <h2 th:text="${court.name}">Court Name</h2>

    <span>
        Address: <span th:text="${court.address}">Court Address</span>
        <br/>
        Open: <span th:text="${court.getOpeningHours()}">0:00 - 0:00</span>
        <br/>
    </span>

    <h3>Timetable</h3>

    <table border="1" cellpadding="10">

        <thead>
        <tr>
            <th>HOUR</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="row, hourId : ${court.timetable}">
            <td th:text="${hourId.index + court.openingHour}">Hour</td>
            <td th:each="booking, dayId : ${row}">

                <!-- FOR CLIENTS -->
                <span sec:authorize="hasRole('ROLE_CLIENT')" th:switch="${booking}">
                    <a th:case="null"
                       th:href="@{/court/{id}/book
                       (id=${court.getId()},
                        client=${#authentication.getPrincipal().getUsername()},
                        day=${dayId.index},
                         hour=${hourId.index+court.openingHour})}">free</a>
                    <span th:case="*">taken</span>
                </span>

                <!-- FOR ADMINS -->
                <span sec:authorize="hasRole('ROLE_ADMIN')" th:switch="${booking}">
                    <span th:case="null">free</span>
                    <span th:case="*">
                        Client <span th:text="${booking.userId}">id</span>
                    </span>
                </span>

            </td>
        </tr>
        </tbody>

    </table>
</div>

<!-- FOOTER -->
<div th:replace="footer :: footer"></div>

</body>
</html>