<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>New Court</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <link rel="stylesheet" th:href="@{/css/tennisex.css}"/>
</head>

<body>

<!-- HEADER -->
<div th:replace="header :: header"></div>

<!-- IMAGE -->
<div class="hero-image">
    <div class="hero-text">
        <h1>Tennix Tennis Club</h1>
    </div>
</div>

<!-- CONTENT -->
<div class="content">

    <h1>New Court</h1>

    <form action="#" th:action="@{/admin/new_court}" th:object="${court}" method="post">
        <div>
            <label class="label">Name</label>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <label class="label">Address</label>
            <input type="text" th:field="*{address}">
        </div>
        <div>
            <label class="label">Open</label>
            <input type="text" th:field="*{openingHour}">
        </div>
        <div>
            <label class="label">Close</label>
            <input type="text" th:field="*{closingHour}">
        </div>
        <div>
            <label class="label">Photo</label>
            <input type="text" th:field="*{photo}">
        </div>
        <button type="submit" class="okbtn">Add</button>
        <button type="button" class="cancelbtn" onclick="location.href = '/'">Cancel</button>
    </form>

</div>

<!-- FOOTER -->
<div th:replace="footer :: footer"></div>

</body>
</html>