<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <link rel="stylesheet" th:href="@{/css/tennisex.css}"/>
</head>

<body>

<div class="footer" align="center" th:fragment="footer">
    <p>
        <b style="font-family:'Garamond'; font-size:150%">Tennix Tennis Club</b>
        <br>
        42 Backhand Street, Lazytown
        <br>
        Call us: 123 456 789
        <br>
        <a href="mailto:reception@tennix.com">reception@tennix.com</a>
    </p>
</div>

</body>
</html>