<!-- localhost:8080 -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tennis Manager</title>
    <link rel="stylesheet" th:href="@{/css/tennisex.css}"/>
</head>
<body>

<!-- HEADER -->
<div th:replace="header :: header"></div>

<div align="center">
    <h1>Tennis Manager</h1>
    <p>
        <a href="/login">login</a>
        <br/>
        <a href="/logout">logout</a>
        <br/>
        <a href="/register">register</a>
        <br/>
        <a href="/court/list">court list</a>
        <br/>
        <a href="/client_list">client list</a>
        <br/>
    </p>
</div>

<div class="footer">
	<p>Tennix Tennis Club<br>
	42 Backhand Street, Lazytown<br>
	Call us: 123 456 789<br>
	<a href="mailto:reception@tennix.com">reception@tennix.com</a></p>
</div>

</body>
</html>