<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tennis Manager</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <link rel="stylesheet" th:href="@{/css/tennisex.css}"/>
</head>

<body>

<!-- HEADER -->
<div th:replace="header :: header"></div>

<!-- IMAGE -->
<div class="hero-image">
    <div class="hero-text">
        <h1>Tennix Tennis Club</h1>
    </div>
</div>

<!-- CONTENT -->
<div class="content">
    <h2>TENNIX</h2>
    - hands down the best club in town -
</div>

<!-- FOOTER -->
<div th:replace="footer :: footer"></div>

</body>
</html>