<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" th:href="@{/css/tennisex.css}"/>
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
</head>
<body>

<!-- IMAGE -->
<div class="hero-image">
	<div class="hero-text">
		<h1>Tennix Tennis Club</h1>
	</div>
</div>

<!-- HEADER -->
<div th:replace="header :: header"></div>

<!--
<div align="center" th:if="${param.error}">
    Invalid username or password.
</div>
<div align="center" th:if="${param.logout}">
    You have been logged out successfully.
</div>
-->

<!-- CONTENT -->
<div class="content">

    <h2>Login</h2>

    <form th:action="@{/login}" method="post">
        <div>
            <label class="label" for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required/>
        </div>
        <div>
            <label class="label" for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <div>
            <button type="submit" class="okbtn">Login</button>
            <button type="button" class="cancelbtn" onclick="location.href = '/'">Cancel</button>
        </div>
    </form>

</div>

<!-- FOOTER -->
<div th:replace="footer :: footer"></div>

</body>
</html>