<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Register</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
	<link rel="stylesheet" th:href="@{/css/tennisex.css}"/>
</head>

<body>

<!-- HEADER -->
<div th:replace="header :: header"></div>

<!-- IMAGE -->
<div class="hero-image">
    <div class="hero-text">
        <h1>Tennix Tennis Club</h1>
    </div>
</div>

<!-- CONTENT -->
<div class="content">

    <h2>Register</h2>

    <form th:action="@{/register}" th:object="${user}" th:method="post">
        <div>
            <label class="label" for="username">Username</label>
            <input type="text" id="username" th:field="*{username}" placeholder="Enter your username" required/>
        </div>
        <div>
            <label class="label" for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" placeholder="Enter your password" required>
        </div>
        <div>
            <label class="label" for="name">Full Name</label>
            <input type="text" id="name" th:field="*{name}" placeholder="Enter your full name" required>
        </div>
        <div>
            <label class="label" for="email">E-mail</label>
            <input type="text" id="email" th:field="*{email}" placeholder="Enter your e-mail">
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <label class="label" for="role">Role</label>
            <input type="text" id="role" th:field="*{role}" placeholder="Enter your role">
        </div>
        <button type="submit" class="okbtn">Register</button>
        <button type="button" class="cancelbtn" onclick="location.href = '/'">Cancel</button>
    </form>

</div>

<!-- FOOTER -->
<div th:replace="footer :: footer"></div>

</body>
</html>
