<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Court Timetable</title>
</head>
<body>
<div align="center">
    <h1>Timetable</h1>
    <p>
        <a href="/court_list">court list</a>
        <br/>
    </p>
    <h2 th:text="${court.name}">Court Name</h2>
    <p>
        <a>Address: <span th:text="${court.address}">address</span></a>
        <br/>
        <a>Open: <span th:text="${court.getOpeningHours()}">0:00 - 0:00</span></a>
        <br/>
    </p>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>HOUR</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hour, hourId : ${court.timetable}">
            <td th:text="${hourId.index + court.openingHour}">Hour</td>
            <td th:each="day, dayId : ${hour}">
                <a th:switch="${day}">
                    <a th:case="null"
                       th:href="@{/timetable/{id}/save_booking(id=${court.getId()}, day=${dayId.index}, hour=${hourId.index+court.openingHour})}">free</a>
                    <a th:case="*">taken</a>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>